.nav{
    border: 1px solid royalblue;
}

.nav .nav-item .nav-link{
    color:royalblue;
}

.nav .nav-item:hover .nav-link{
    background-color: royalblue;
    color: #eee;
}

.container-fluid{
    min-height: 100vh;
}

.head{
    padding: 10px;
    
}

.comName{
    color: red;
    font-size: 30px;
    padding: 3px;
    
}

.req{
    border-bottom: 1px solid royalblue;
}