.nav{
    border: 1px solid royalblue;
}

.nav .nav-item .nav-link{
    color:royalblue;
}

.nav .nav-item:hover .nav-link{
    background-color: royalblue;
    color: #eee;
}

.container-fluid{
    min-height: 100%;
}

.head{
    padding: 10px;
    
}

.comName{
    color: blue;
    font-size: 30px;
    padding: 3px;
    
}

.req{
    border-bottom: 1px solid royalblue;
}


.home{background-color: royalblue;color: white!important}
.stock{background-color: royalblue;color: white!important}
.addnew{background-color: royalblue;color: white!important}
.sale{background-color: royalblue;color: white!important}
.edit{background-color: royalblue;color: white!important}
