.nav{
    border: 1px solid blue;
}

.nav .nav-item .nav-link{
    color:royalblue;
}

.nav .nav-item:hover .nav-link{
    background-color: royalblue;
    color: #eee;
}

.container-fluid{
    min-height: 100vh;
}

.head{
    padding: 10px;
}