<div class="container-fluid">
    <div class="row head">
      <div class="col-md-4">
        <img src="assets/images/one.jpg" height="30px" alt="" srcset="">
      </div>
      <div class="col-md-4" style="text-align: center;margin-top: 5px;">
          <span class="comName">KELUM ENGINEERING</span>
      </div>
      <div class="col-md-4" >
        <button style="float: right;" class="btn btn-outline-danger btn-sm" (click)="logout()">Logout</button>
        <span  style="padding:5px;margin-right:5px;float: right;background-color: indigo;color: whitesmoke;">{{date}}</span>

      </div>
      
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item req">
                  <a routerLink="/dashboard" class="nav-link" routerLinkActive="home" [routerLinkActiveOptions]="{exact: true}" aria-current="page" href="#">Dashboard</a>
                </li>
                <li class="nav-item req">
                  <a routerLink="/dashboard/stock" class="nav-link" routerLinkActive="stock" [routerLinkActiveOptions]="{exact: true}" href="#">Stock</a>
                </li>
                <li class="nav-item req">
                  <a routerLink="/dashboard/addnew"  class="nav-link" routerLinkActive="addnew" [routerLinkActiveOptions]="{exact: true}" href="#">Add New Item</a>
                </li>
                <li class="nav-item req">
                  <a routerLink="/dashboard/sale" class="nav-link" routerLinkActive="sale" [routerLinkActiveOptions]="{exact: true}" href="#">Sale Item</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/dashboard/edit" class="nav-link" routerLinkActive="edit" [routerLinkActiveOptions]="{exact: true}" href="#">About Us</a>
                </li>
                
              </ul>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
