.container{
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    
}
.title{
    font-size: 30px;
    color: royalblue;
}

form{
    margin-top: 50px;
}

input{
    margin:10px 0;
}

.row{
    border: 1px solid blue;
    padding: 20px;
}