<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="title">Login Dashboard</div>
            <form action="">
                <input type="email" name="email" [(ngModel)]="email" required>
                <input type="password" name="password" [(ngModel)]="password" required>
                <input type="submit" (click)="login()" value="Login">
            </form>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>
