table{
    width: 100%;
    
}

.table thead{
    font-size: 15px;
    
}

.tablediv{
    height: 60vh;
}

.search{
    background:none;
    border: 1px solid black;
    border-radius: 50px;
}

@media screen and (max-width:1060px) {
    .table thead{
        font-size:11px;
    }
    .table tbody tr .action .btn-danger{
        display: inline-block;
    }
}

@media screen and (max-width:450px) {
    .search{
        margin-top: 10px;
    }
}