<div class="row">
    <div class="col-md-3">
        <div class="box" style="background-color: red;height: 20vh;border-radius: 5px;text-align: center;">
            <br>
            <span class="title">ITEMS</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box" style="background-color: green;height: 20vh;border-radius: 5px;text-align: center;">
            <br>
            
            <span class="title">SALES</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box" style="background-color: blue;height: 20vh;border-radius: 5px;text-align: center;">
            <br>
            <span class="title">ORDERS</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box" style="background-color: greenyellow;height: 20vh;border-radius: 5px;text-align: center;">
            <br>

            <span class="title">CUSTOMERS</span>
        </div>
    </div>
</div>
